<!DOCTYPE html>
<html>
<head>
  <title>Halo5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<H1>AMIRITE?</H1>
<%= yield %>

</body>
</html>
